@charset utf-8;
@import url(../../style1/css/personal.css);
.background {
    background: url("images/portal_bg.jpg") repeat-x scroll left top #FFFFFF;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 1920px;
}