/* Tiny Carousel */

#slider-code { height: 200px; overflow:hidden; }
#slider-code .viewport { float: left; width: 240px; height: 125px; overflow: hidden; position: relative; }
#slider-code .buttons { display: block; margin: 30px 10px 0 0; float: left; }
#slider-code .next { margin: 30px 0 0 10px;  }
#slider-code .disable { visibility: hidden; }
#slider-code .overview { list-style: none; padding: 0; margin: 0;  position: absolute; left: 0; top: 0; }
#slider-code .overview li{ float: left; margin: 0 20px 0 0; padding: 1px; height: 121px; border: 1px solid #dcdcdc; width: 236px;}

#slider-code .pager { overflow:hidden; list-style: none; clear: both; margin: 0 0 0 45px; }
#slider-code .pager li { float: left; }
#slider-code .pagenum { background-color: #fff; text-decoration: none; text-align: center; padding: 5px; color: #555555; font-size: 14px; font-weight: bold; display: block; }
#slider-code .active { color: #fff; background-color:  #555555; }

#news {
	float:left;
	width:376px;
	margin-left:10px;
}

#news ul{
	height:200px;
	overflow:hidden;
}

#news ul li {
	border-bottom:1px dotted #989898;
	height:30px;
	line-height:30px;
	list-style-type:none;
	padding-left:13px;
	background:url("li_icons.png") no-repeat left top;
}

#news ul li a{
   color:#6a6a6a;
   font-size:12px;
}

