* {
	margin: 0px;
	padding: 0px;
}
td, ul, ol, li, a, span, p, form, input {
margin:0;
padding:0;
}
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-color: #6b99e2;
}

div,form,input,table,p,textrea,body,ul,li,iframe{margin:0px;padding:0px;}
a{
	text-decoration: none;
	font-family: "微软雅黑", "宋体";
	font-size: 13px;
	color: #666666;
	overflow:hidden;
}

a:visited{
	color: #999999;
	text-decoration: none;
}

a:hover{
	color: #0000FF;
}

.h1{
	
	margin: 0px;
	padding: 0px;
	line-height: 31px;
	float: left;
}
#container #right-box #right-content #r-con-cen #up-box #up-left .up-left-con-a .h1 a {
	font-family: "微软雅黑", "宋体";
	font-size: 17px;
	color: #996600;
	font-weight: bold;
	letter-spacing: 1px;
}
#container #right-box #right-content #r-con-cen #up-box #up-left .up-left-con-a .h1 a:hover {
	font-family: "微软雅黑", "宋体";
	font-size: 17px;
	color: #666666;
	font-weight: bold;
	letter-spacing: 1px;
}


.h2{	
	margin: 0px;
	padding: 0px;
	float: left;
	line-height: 30px;
}
#container #right-box #right-content #r-con-cen #up-box #up-left .up-left-con-a .h2 a {
    font-family: "微软雅黑", "宋体";
	font-size: 17px;
	color: #0066FF;
	font-weight: bold;
	letter-spacing: 1px;
}
#container #right-box #right-content #r-con-cen #up-box #up-left .up-left-con-a .h2 a:hover {
	font-family: "微软雅黑", "宋体";
	font-size: 17px;
	color: #666666;
	font-weight: bold;
	letter-spacing: 1px;
}
.con-txt {
	clear: left;
	font-family: "宋体";
	font-size: 13px;
	color: #333333;
	line-height: 17px;
}
.con-txt2 {
	line-height: 24px;
	float: left;
	
}
#container #right-box #right-content #r-con-cen #up-box #up-left .up-left-con-a .con-txt2 a {
	font-family: "宋体";
	font-size: 13px;
	color: #0000CC;
	text-decoration: underline;
}
#container #right-box #right-content #r-con-cen #up-box #up-left .up-left-con-a .con-txt2 a:hover {
	font-family: "宋体";
	font-size: 13px;
	color: #333333;
}
.con-dot {
	font-family: "宋体";
	font-size: 13px;
	color: #0000CC;
	line-height: 23px;
	float: left;
}
.h3{
	margin: 0px;
	padding: 0px;
	line-height: 25px;
	letter-spacing: 1px;
}
.h3-font{
    font-family: "微软雅黑", "宋体";
	font-size: 15px;
	color: #0099FF;
}
.con-txt3 {
	line-height: 24px;
	float: left;
	display:block;
	margin-left: 5px;
}


#container #right-box #right-content #r-con-cen #up-box #up-left .up-left-con-a .con-txt3 a {
	font-family: "宋体";
	font-size: 13px;
	color: #0000CC;
	text-decoration: underline;
	float: left;
	display:block;
}
#container #right-box #right-content #r-con-cen #up-box #up-left .up-left-con-a .con-txt3 a:hover {
	font-family: "宋体";
	font-size: 13px;
	color: #333333;
}
.con-dot {
	font-family: "宋体";
	font-size: 13px;
	color: #0000CC;
	line-height: 23px;
	float: left;
}
.h3{
	margin: 0px;
	padding: 0px;
	line-height: 25px;
	letter-spacing: 1px;
}
.h3-font{
    font-family: "微软雅黑", "宋体";
	font-size: 15px;
	color: #0099FF;
}
.con-txt3 {
	font-family: "宋体";
	font-size: 13px;
	color: #999999;
	line-height: 15px;
}
.con-txt4 {
	font-family: "宋体";
	font-size: 13px;
	color: #0099CC;
	line-height: 24px;
	float: left;
	text-decoration: underline;
}
.con-dot2 {
	font-family: "宋体";
	font-size: 13px;
	color: #0099CC;
	line-height: 23px;
	float: left;
}
ul{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}
.left{float:left;}
.right{float:right;}
.clear{clear:both;} 
.dis{display:none;}
.block{display:block;}

#container {
	margin-right: auto;
	margin-left: auto;
	padding: 0px;
	width: 1010px;
}
#container #left-box {
	float: left;
	width: 202px;
	height: auto;
}
#container #left-box #left-top {
	width: 202px;
	height: 47px;
	margin-top: 32px;
	margin-bottom: 0px;
	padding: 0px;
}

#container #left-box #left-top .l-t-ul .id-left-c a {
	background-image: url(../images/nv-yuan-a.jpg);
	background-repeat: no-repeat;
	height: 47px;
	width: 68px;
	display: block;
}
#container #left-box #left-cen {
	/*height: 442px;
	width: 202px;*/
	min-height:442px;
	margin-top: 7px;
	overflow: inline;
}
#container #left-box #left-cen #left-frame {
	height: 420px;
	background-image: url(../images/left-cen.jpg);
	background-repeat: repeat-y;
	width: 186px;
	padding-right: 8px;
	padding-left: 8px;
}

#container #left-box #left-pic {
	height: 256px;
	width: 202px;
	margin-top: 7px;
}
#container #left-box #left-pic #left-pic-frame {
	height: 224px;
	background-image: url(../images/left-cen.jpg);
	background-repeat: repeat-y;
	width: 186px;
	padding-right: 8px;
	padding-left: 8px;
	padding-top: 4px;
	padding-bottom: 4px;
}

#container #right-box {
	float: left;
	height: auto;
	width: 788px;
	margin-left: 15px;
}
#container #right-box #right-top {
	background-image: url(../images/header-bg.jpg);
	background-repeat: no-repeat;
	height: 25px;
	width: 598px;
	padding-left: 190px;
	padding-top: 3px;
}
.label-span {
	background-image: url(../images/button-b.jpg);
	background-repeat: no-repeat;
	height: 21px;
	width: 69px;
	display: block;
	float: left;
	margin-left: 12px;
	line-height: 21px;
	text-align: center;
}

#container #right-box #right-search {
	padding-top: 12px;
	height: 46px;
	width: 720px;
}
#container #right-box #right-search #search-box {
	width: 610px;
	background-image: url(../images/td.jpg);
	background-repeat: no-repeat;
	background-position: left;
	padding-left: 30px;
	height: 26px;
	padding-top: 5px;
	margin-left: 10px;
}
#container #right-box #right-search #search-box #Search-bg {
	float: left;
	background-image: url(../images/textbox.gif);
	background-repeat: no-repeat;
	width: 489px;
	background-position: right;
	height: 24px;
}
#container #right-box #right-search #search-box #goto {
	overflow: hidden;
	float: right;
}
.Search-bg-form {
	width: 470px;
	font-family: "微软雅黑", "宋体";
	font-size: 15px;
	color: #000000;
	margin-top: 3px;
	overflow:hidden;
	margin-right: 0px;
	margin-bottom: 0px;
	background-color: #FFFFFF;
	border: 1px solid #FFFFFF;
	height: 17px;
	margin-left: 5px;
	display: inline;
}

#container #right-box #right-content {
	height: auto;
	width: 788px;
}
#container #right-box #right-content #r-con-cen {
	background-image: url(../images/right-cen.jpg);
	background-repeat: repeat-y;
	height: auto;
	width: 772px;
	padding-top: 2px;
	padding-bottom: 10px;
	padding-right: 8px;
	padding-left: 8px;
}
#container #right-box #right-content #r-con-cen #up-box {
	width: 768px;
	height: auto;
}
#container #right-box #right-content #r-con-cen #up-box #up-left {
	width: 545px;
	height: auto;
	float: left;
}
#container #right-box #right-content #r-con-cen #up-box #up-left #up-left-head {
	background-image: url(../images/title-a-bg.jpg);
	background-repeat: no-repeat;
	width: 510px;
	height: 25px;
	padding-top: 5px;
	padding-left: 35px;
}
.choice-box {
	height: 18px;
	width: 500px;
}
#container #right-box #right-content #r-con-cen #up-box #up-left #up-left-head .choice-box li {
	display: block;
	height: 18px;
	width: auto;
	float: left;
}
#container #right-box #right-content #r-con-cen #up-box #up-left #up-left-head .choice-box a {
	font-family: "宋体";
	font-size: 14px;
	color: #FFFFFF;
	margin-left: 4px;
	display: block;
	float: left;
	vertical-align: middle;
	line-height: 19px;
}
#container #right-box #right-content #r-con-cen #up-box #up-left #up-left-head .choice-box a:hover {
	font-family: "宋体";
	font-size: 14px;
	color: #FFFF00;
	margin-left: 4px;
	display: block;
	float: left;
	vertical-align: middle;
	line-height: 19px;
}
#container #right-box #right-content #r-con-cen #up-box #up-left #flash-box {
	background-image: url(../images/flex-bg.gif);
	background-repeat: no-repeat;
	height: 173px;
	width: 539px;
	margin-left: 2px;
	margin-top: 6px;
	overflow: hidden;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-top: 5px;
}
#container #right-box #right-content #r-con-cen #up-box #up-left #flash-box #flash-con {
	height: 138px;
	width: 516px;
	padding-left: 8px;
}
#container #right-box #right-content #r-con-cen #up-box #up-left #flash-box #flashlabel {
	width: 420px;
	height: 30px;
	padding-top: 3px;
	position: relative;
}
#container #right-box #right-content #r-con-cen #up-box #up-left #flash-box #flashlabel #label-a {
	float: left;
	position: absolute;
	visibility: hidden;
}
#container #right-box #right-content #r-con-cen #up-box #up-left #flash-box #flashlabel #label-a2 {
	float: left;
	position: absolute;
}
#container #right-box #right-content #r-con-cen #up-box #up-left #flash-box #flashlabel #label-b {
	float: left;
	position: absolute;
	left: 92px;
}
#container #right-box #right-content #r-con-cen #up-box #up-left #flash-box #flashlabel #label-b2 {
	float: left;
	position: absolute;
	left: 92px;
	visibility: hidden;
}
#container #right-box #right-content #r-con-cen #up-box #up-left #flash-box #flashlabel #label-c {
	float: left;
	position: absolute;
	left: 184px;
}
#container #right-box #right-content #r-con-cen #up-box #up-left #flash-box #flashlabel #label-c2 {
	float: left;
	position: absolute;
	left: 184px;
	visibility: hidden;
}
#container #right-box #right-content #r-con-cen #up-box #up-left #flash-box #flashlabel #label-d {
	float: left;
	position: absolute;
	left: 276px;
}
#container #right-box #right-content #r-con-cen #up-box #up-left #flash-box #flashlabel #label-d2 {
	float: left;
	position: absolute;
	left: 276px;
	visibility: hidden;
}
#container #right-box #right-content #r-con-cen #up-box #up-left #flash-box #flashlabel #label-e {
	float: left;
	position: absolute;
	left: 368px;
}
#container #right-box #right-content #r-con-cen #up-box #up-left #flash-box #flashlabel #label-e2 {
	float: left;
	position: absolute;
	left: 368px;
	visibility: hidden;
}

#container #right-box #right-content #r-con-cen #up-box #up-right {
	float: right;
	width: 206px;
	height: auto;
}
#container #right-box #right-content #r-con-cen #up-box #up-right #up-right-head {
	background-image: url(../images/relevance-tit.jpg);
	background-repeat: no-repeat;
	height: 30px;
	width: 205px;
}

.up-left-con-a {
	width: 535px;
	margin-left: 8px;	
	margin-top: 10px;
	overflow: hidden;
}
.next-page {
	height: 20px;
	width: 525px;
	margin-left: 15px;
	line-height: 40px;
}
.page-td {
	width: 20px;
	text-align: center;
}
.next-page a {
	color: #333333;
}
.next-page a:visited {
	text-decoration: none;
	color: #0000FF;
	font-weight: bold;
}
.next-page a:hover {
	text-decoration: none;
	color: #0000FF;
}

#container #right-box #right-content #r-con-cen #down-box {
	width: 768px;
	height: 104px;
	margin-top: 40px;
}
.yy{background-image: url(../images/right-head.jpg);
	background-repeat: no-repeat;
	width:788px;
	height:11px;
}
.leftHead {background-image: url(../images/left-head.jpg);
	background-repeat: no-repeat;
	width:202px;
	height:9px;
}
.leftFoot {background-image: url(../images/left-foot.jpg);
	background-repeat: no-repeat;
	width:202px;
	height:9px;
}
.rightFoot {background-image: url(../images/right-foot.jpg);
	background-repeat: no-repeat;
	width:788px;
	height:9px;
}
#container #right-box #right-top {
	background-image: url(../images/header-bg.jpg);
	background-repeat: no-repeat;
	height: 25px;
	width: 598px;
	padding-left: 190px;
	padding-top: 3px;
}
.label-span {
	background-image: url(../images/button-b.jpg);
	background-repeat: no-repeat;
	height: 21px;
	width: 69px;
	display: block;
	float: left;
	margin-left: 12px;
	line-height: 21px;
	text-align: center;
}
.line { 
background-image: url(../images/left-line.jpg); 
background-repeat: no-repeat; 
height: 6px; 
width: 186px; 
}
.treeHeight{
  height:auto;
  min-height:430px;
}

.up-left-con-img {
	width: 535px;
	margin-left: 8px;
	margin-top: 10px;
	overflow: hidden;
	height: auto;
}

.con-txt-img {
	font-family: "宋体";
	font-size: 13px;
	color: #333333;
	line-height: 17px;
	height: 25px;
	width: 100%;
	padding-top: 6px;
}

.con-box {
	width: 100%;
	height: 27px;
	overflow: hidden;
}
.con-box-b {
	width: 100%;
	height: auto;
	overflow: hidden;
	clear: both;
	padding-top: 5px;
	padding-bottom: 5px;
}

.con-img-box {
	width: 100%;
	padding-top: 4px;
	padding-bottom: 15px;
}
.con-img {
	height: 60px;
	display: block;
	padding-top: 2px;
	padding-right: 2px;
	padding-bottom: 2px;
	padding-left: 0px;
}
#container #right-box #right-content #r-con-cen #up-box #up-left .up-left-con-img .con-img-box .con-img img {
	height: 60px;
	width: 50px;
	display: block;
	float: left;
	margin-left: 8px;
	border: 1px solid #00FFFF;
}

#container #right-box #right-content #r-con-cen #up-box #up-left .up-left-con-img .con-box .h1 a {
	font-family: "微软雅黑", "宋体";
	font-size: 17px;
	color: #996600;
	font-weight: bold;
	letter-spacing: 1px;
}
#container #right-box #right-content #r-con-cen #up-box #up-left .up-left-con-img .con-box .h1 a:hover {
	font-family: "微软雅黑", "宋体";
	font-size: 17px;
	color: #666666;
	font-weight: bold;
	letter-spacing: 1px;
}
#container #right-box #right-content #r-con-cen #up-box #up-left .up-left-con-img .con-box .h2 a {
    font-family: "微软雅黑", "宋体";
	font-size: 17px;
	color: #0066FF;
	font-weight: bold;
	letter-spacing: 1px;
}
#container #right-box #right-content #r-con-cen #up-box #up-left .up-left-con-img .con-box .h2 a:hover {
	font-family: "微软雅黑", "宋体";
	font-size: 17px;
	color: #666666;
	font-weight: bold;
	letter-spacing: 1px;
}
#container #right-box #right-content #r-con-cen #up-box #up-left .up-left-con-img .con-box-b .con-txt2 a {
	font-family: "宋体";
	font-size: 13px;
	color: #0000CC;
	text-decoration: underline;
}
#container #right-box #right-content #r-con-cen #up-box #up-left .up-left-con-img .con-box-b .con-txt2 a:hover {
	font-family: "宋体";
	font-size: 13px;
	color: #333333;
}


#container #right-box #right-content #r-con-cen #up-box #up-right {
	float: right;
	width: 206px;
	height: auto;
}
#container #right-box #right-content #r-con-cen #up-box #up-right #up-right-head {
	background-image: url(../images/relevance-green-tit.jpg);
	background-repeat: no-repeat;
	height: 30px;
	width: 205px;
}



.up-left-con-a {
	width: 535px;
	margin-left: 8px;
	height: 88px;
	margin-top: 10px;
	overflow: hidden;
}
.r-h-t {
	background-image: url(../images/right-head.jpg);
	background-repeat: no-repeat;
	width:788px;
	height:11px;
	overflow: hidden;
}
