BODY {
	FONT-SIZE: 9pt; BACKGROUND: url(bg.jpg) fixed -200px -83px
}
FORM {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
A:link {
	COLOR: #0066cc; TEXT-DECORATION: none
}
A:visited {
	COLOR: #0066cc; TEXT-DECORATION: none
}
A:hover {
	COLOR: #333333; TEXT-DECORATION: underline
}
A:active {
	COLOR: #333333; TEXT-DECORATION: underline
}
A.A1:link {
	COLOR: #003366; TEXT-DECORATION: underline
}
A.A1:visited {
	COLOR: #003366; TEXT-DECORATION: underline
}
A.A1:active {
	COLOR: #124164; TEXT-DECORATION: underline
}
A.A1:hover {
	COLOR: #124164; TEXT-DECORATION: underline
}
A.orgAdd:link {
	PADDING-LEFT: 12px; BACKGROUND: url(org_select.png) no-repeat 0px 0px; COLOR: #207bd6
}
A.orgAdd:visited {
	PADDING-LEFT: 12px; BACKGROUND: url(org_select.png) no-repeat 0px 0px; COLOR: #207bd6
}
A.orgAdd:hover {
	COLOR: #207bd6; TEXT-DECORATION: underline
}
A.orgAdd:active {
	COLOR: #207bd6; TEXT-DECORATION: underline
}
A.orgClear:link {
	PADDING-LEFT: 12px; BACKGROUND: url(org_select.png) no-repeat 0px -60px; MARGIN-LEFT: 5px; COLOR: #9aa9b8
}
A.orgClear:visited {
	PADDING-LEFT: 12px; BACKGROUND: url(org_select.png) no-repeat 0px -60px; MARGIN-LEFT: 5px; COLOR: #9aa9b8
}
A.orgClear:hover {
	BACKGROUND-POSITION: 0px -40px; COLOR: #207bd6; TEXT-DECORATION: underline
}
A.orgClear:active {
	BACKGROUND-POSITION: 0px -40px; COLOR: #207bd6; TEXT-DECORATION: underline
}
A.addfile {
	DISPLAY: block; PADDING-LEFT: 12px; BACKGROUND: url(org_select.png) no-repeat 0px 7px; FLOAT: left; COLOR: #207bd6; POSITION: relative; TEXT-DECORATION: none
}
A.addfile:hover {
	BACKGROUND-POSITION: 0px -13px; COLOR: #9aa9b8; TEXT-DECORATION: underline
}
INPUT.addfile {
	FILTER: alpha(opacity=0); LEFT: -5px; WIDTH: 1px; CURSOR: pointer; POSITION: absolute; opacity: 0
}
A.selfile:link {
	COLOR: #207bd6; TEXT-DECORATION: none
}
A.selfile:visited {
	COLOR: #207bd6; TEXT-DECORATION: none
}
A.selfile:hover {
	COLOR: #9aa9b8; TEXT-DECORATION: underline
}
A.selfile:active {
	COLOR: #9aa9b8; TEXT-DECORATION: underline
}
A.addimage {
	PADDING-LEFT: 12px; BACKGROUND: url(org_select.png) no-repeat 0px 1px; COLOR: #207bd6; POSITION: relative; TEXT-DECORATION: none
}
A.addimage:hover {
	BACKGROUND-POSITION: 0px -19px; COLOR: #9aa9b8; TEXT-DECORATION: underline
}
IMG {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
TABLE {
	BORDER-COLLAPSE: collapse
}
.bodycolor {
	
}
.loginbodycolor {
	BACKGROUND: #6ba2d8
}
.topbar {
	FONT-SIZE: 9pt; BACKGROUND: url(topbar.gif) #c4d9ef
}
.topbar2 {
	FONT-SIZE: 9pt; BACKGROUND: url(menubg.gif) #c4d9ef
}
.panel {
	BACKGROUND: #c4d9ef; COLOR: #654125
}
.timebar {
	BACKGROUND: #cedff1
}
.menu_tr1 {
	FONT-SIZE: 9pt; BACKGROUND-IMAGE: url(topbar.gif); CURSOR: pointer; COLOR: #000000
}
.menu_tr2 {
	FONT-SIZE: 9pt; BACKGROUND: #cedff1; CURSOR: pointer; COLOR: #000000
}
.small {
	FONT-SIZE: 9pt
}
.small1 {
	FONT-SIZE: 9pt; COLOR: #000000
}
.big {
	FONT-SIZE: 12pt
}
.big1 {
	FONT-SIZE: 12pt; COLOR: #000000
}
.big2 {
	FONT-SIZE: 18pt
}
.big3 {
	FONT-WEIGHT: bold; FONT-SIZE: 12pt; COLOR: #124164
}
.big4 {
	COLOR: #ff0000
}
.verybig {
	FONT-SIZE: 24pt
}
.ArrowButtonL {
	BACKGROUND: url(/images/previouspage.gif) no-repeat center center; WIDTH: 20px; HEIGHT: 16px
}
.ArrowButtonR {
	BACKGROUND: url(/images/nextpage.gif) no-repeat center center; WIDTH: 20px; HEIGHT: 16px
}
.ArrowButtonLL {
	BACKGROUND: url(/images/prevpreviouspage.png) no-repeat center center; WIDTH: 20px; HEIGHT: 16px
}
.ArrowButtonRR {
	BACKGROUND: url(/images/nextnextpage.png) no-repeat center center; WIDTH: 20px; HEIGHT: 16px
}
INPUT.SmallButton {
	BORDER-RIGHT: #6e91c7 1px solid; BORDER-TOP: #6e91c7 1px solid; FONT-SIZE: 9pt; BACKGROUND: url(button_bg.gif) #f4fbe1; BORDER-LEFT: #6e91c7 1px solid; BORDER-BOTTOM: #6e91c7 1px solid; HEIGHT: 20px; TEXT-DECORATION: none
}
INPUT.ArrowButton {
	BORDER-RIGHT: #6e91c7 1px solid; BORDER-TOP: #6e91c7 1px solid; FONT-SIZE: 9pt; BACKGROUND: url(button_bg.gif) #f4fbe1; BORDER-LEFT: #6e91c7 1px solid; BORDER-BOTTOM: #6e91c7 1px solid; HEIGHT: 20px; TEXT-DECORATION: none
}
INPUT.SmallButton:hover {
	BORDER-RIGHT: #80aa00 1px solid; BORDER-TOP: #99cc00 1px solid; FONT-SIZE: 9pt; BACKGROUND: url(bg_input_btn_hover.png) #f4fadf; BORDER-LEFT: #99cc00 1px solid; COLOR: #395500; BORDER-BOTTOM: #80aa00 1px solid
}
INPUT.ArrowButton:hover {
	BORDER-RIGHT: #80aa00 1px solid; BORDER-TOP: #99cc00 1px solid; FONT-SIZE: 9pt; BACKGROUND: url(bg_input_btn_hover.png) #f4fadf; BORDER-LEFT: #99cc00 1px solid; COLOR: #395500; BORDER-BOTTOM: #80aa00 1px solid
}
INPUT.BigButton {
	BORDER-RIGHT: #6e91c7 1px solid; BORDER-TOP: #6e91c7 1px solid; FONT-SIZE: 12pt; BACKGROUND: url(button_bg.gif) #f4fbe1; MARGIN: 1px; BORDER-LEFT: #6e91c7 1px solid; BORDER-BOTTOM: #6e91c7 1px solid; HEIGHT: 24px; TEXT-DECORATION: none
}
INPUT.BigButton:hover {
	BORDER-RIGHT: #80aa00 1px solid; BORDER-TOP: #99cc00 1px solid; FONT-SIZE: 12pt; BACKGROUND: url(bg_input_btn_hover.png) #f4fadf; BORDER-LEFT: #99cc00 1px solid; COLOR: #395500; BORDER-BOTTOM: #80aa00 1px solid
}
INPUT.SmallButtonAHover {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 12px; BACKGROUND: url(btn_a.png) no-repeat 0px -21px; BORDER-BOTTOM-WIDTH: 0px; WIDTH: 50px; CURSOR: pointer; COLOR: #000000; HEIGHT: 21px; BORDER-RIGHT-WIDTH: 0px
}
INPUT.SmallButtonA {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 12px; BACKGROUND: url(btn_a.png) no-repeat; BORDER-BOTTOM-WIDTH: 0px; WIDTH: 50px; CURSOR: pointer; COLOR: #36434e; HEIGHT: 21px; BORDER-RIGHT-WIDTH: 0px
}
INPUT.SmallButtonA:hover {
	BACKGROUND-POSITION: 0px -21px; FONT-SIZE: 12px
}
INPUT.SmallButtonBHover {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 12px; BACKGROUND: url(btn_b.png) no-repeat 0px -21px; BORDER-BOTTOM-WIDTH: 0px; WIDTH: 74px; CURSOR: pointer; COLOR: #000000; HEIGHT: 21px; BORDER-RIGHT-WIDTH: 0px
}
INPUT.SmallButtonB {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 12px; BACKGROUND: url(btn_b.png) no-repeat; BORDER-BOTTOM-WIDTH: 0px; WIDTH: 74px; CURSOR: pointer; COLOR: #36434e; HEIGHT: 21px; BORDER-RIGHT-WIDTH: 0px
}
INPUT.SmallButtonB:hover {
	BACKGROUND-POSITION: 0px -21px; FONT-SIZE: 12px
}
INPUT.SmallButtonCHover {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 12px; BACKGROUND: url(btn_c.png) no-repeat 0px -21px; BORDER-BOTTOM-WIDTH: 0px; WIDTH: 105px; CURSOR: pointer; COLOR: #000000; HEIGHT: 21px; BORDER-RIGHT-WIDTH: 0px
}
INPUT.SmallButtonC {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 12px; BACKGROUND: url(btn_c.png) no-repeat; BORDER-BOTTOM-WIDTH: 0px; WIDTH: 105px; CURSOR: pointer; COLOR: #36434e; HEIGHT: 21px; BORDER-RIGHT-WIDTH: 0px
}
INPUT.SmallButtonC:hover {
	BACKGROUND-POSITION: 0px -21px; FONT-SIZE: 12px
}
INPUT.SmallButtonDHover {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 12px; BACKGROUND: url(btn_d.png) no-repeat 0px -21px; BORDER-BOTTOM-WIDTH: 0px; WIDTH: 160px; CURSOR: pointer; COLOR: #000000; HEIGHT: 21px; BORDER-RIGHT-WIDTH: 0px
}
INPUT.SmallButtonD {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 12px; BACKGROUND: url(btn_d.png) no-repeat; BORDER-BOTTOM-WIDTH: 0px; WIDTH: 160px; CURSOR: pointer; COLOR: #36434e; HEIGHT: 21px; BORDER-RIGHT-WIDTH: 0px
}
INPUT.SmallButtonD:hover {
	BACKGROUND-POSITION: 0px -21px; FONT-SIZE: 12px
}
INPUT.SmallButtonEHover {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 12px; BACKGROUND: url(btn_e.png) no-repeat 0px -21px; BORDER-BOTTOM-WIDTH: 0px; WIDTH: 245px; CURSOR: pointer; COLOR: #000000; HEIGHT: 21px; BORDER-RIGHT-WIDTH: 0px
}
INPUT.SmallButtonE {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 12px; BACKGROUND: url(btn_e.png) no-repeat; BORDER-BOTTOM-WIDTH: 0px; WIDTH: 245px; CURSOR: pointer; COLOR: #36434e; HEIGHT: 21px; BORDER-RIGHT-WIDTH: 0px
}
INPUT.SmallButtonE:hover {
	BACKGROUND-POSITION: 0px -21px; FONT-SIZE: 12px
}
INPUT.BigButtonAHover {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 13px; BACKGROUND: url(big_btn_a.png) no-repeat 0px -24px; BORDER-BOTTOM-WIDTH: 0px; WIDTH: 60px; CURSOR: pointer; COLOR: #000000; HEIGHT: 24px; BORDER-RIGHT-WIDTH: 0px
}
INPUT.BigButtonA {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 13px; BACKGROUND: url(big_btn_a.png) no-repeat; BORDER-BOTTOM-WIDTH: 0px; WIDTH: 60px; CURSOR: pointer; COLOR: #36434e; HEIGHT: 24px; BORDER-RIGHT-WIDTH: 0px
}
INPUT.BigButtonA:hover {
	BACKGROUND-POSITION: 0px -24px; FONT-SIZE: 13px
}
INPUT.BigButtonBHover {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 13px; BACKGROUND: url(big_btn_b.png) no-repeat 0px -24px; BORDER-BOTTOM-WIDTH: 0px; WIDTH: 84px; CURSOR: pointer; COLOR: #000000; HEIGHT: 24px; BORDER-RIGHT-WIDTH: 0px
}
INPUT.BigButtonB {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 13px; BACKGROUND: url(big_btn_b.png) no-repeat; BORDER-BOTTOM-WIDTH: 0px; WIDTH: 84px; CURSOR: pointer; COLOR: #36434e; HEIGHT: 24px; BORDER-RIGHT-WIDTH: 0px
}
INPUT.BigButtonB:hover {
	BACKGROUND-POSITION: 0px -24px; FONT-SIZE: 13px
}
INPUT.BigButtonCHover {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 13px; BACKGROUND: url(big_btn_c.png) no-repeat 0px -24px; BORDER-BOTTOM-WIDTH: 0px; WIDTH: 125px; CURSOR: pointer; COLOR: #000000; HEIGHT: 24px; BORDER-RIGHT-WIDTH: 0px
}
INPUT.BigButtonC {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 13px; BACKGROUND: url(big_btn_c.png) no-repeat; BORDER-BOTTOM-WIDTH: 0px; WIDTH: 125px; CURSOR: pointer; COLOR: #36434e; HEIGHT: 24px; BORDER-RIGHT-WIDTH: 0px
}
INPUT.BigButtonC:hover {
	BACKGROUND-POSITION: 0px -24px; FONT-SIZE: 13px
}
INPUT.BigButtonDHover {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 13px; BACKGROUND: url(big_btn_d.png) no-repeat 0px -24px; BORDER-BOTTOM-WIDTH: 0px; WIDTH: 195px; CURSOR: pointer; COLOR: #000000; HEIGHT: 24px; BORDER-RIGHT-WIDTH: 0px
}
INPUT.BigButtonD {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 13px; BACKGROUND: url(big_btn_d.png) no-repeat; BORDER-BOTTOM-WIDTH: 0px; WIDTH: 195px; CURSOR: pointer; COLOR: #36434e; HEIGHT: 24px; BORDER-RIGHT-WIDTH: 0px
}
INPUT.BigButtonD:hover {
	BACKGROUND-POSITION: 0px -24px; FONT-SIZE: 13px
}
INPUT.BigButtonEHover {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 13px; BACKGROUND: url(big_btn_e.png) no-repeat 0px -24px; BORDER-BOTTOM-WIDTH: 0px; WIDTH: 305px; CURSOR: pointer; COLOR: #000000; HEIGHT: 24px; BORDER-RIGHT-WIDTH: 0px
}
INPUT.BigButtonE {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 13px; BACKGROUND: url(big_btn_e.png) no-repeat; BORDER-BOTTOM-WIDTH: 0px; WIDTH: 305px; CURSOR: pointer; COLOR: #36434e; HEIGHT: 24px; BORDER-RIGHT-WIDTH: 0px
}
INPUT.BigButtonE:hover {
	BACKGROUND-POSITION: 0px -24px; FONT-SIZE: 13px
}
INPUT.BigInput {
	BORDER-RIGHT: #c0bbb4 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #c0bbb4 1px solid; PADDING-LEFT: 5px; FONT-SIZE: 10pt; BACKGROUND: url(bg_input_text.png) white repeat-x 0px -1px; PADDING-BOTTOM: 1px; BORDER-LEFT: #c0bbb4 1px solid; PADDING-TOP: 1px; BORDER-BOTTOM: #c0bbb4 1px solid
}
TEXTAREA.BigInput {
	BORDER-RIGHT: #c0bbb4 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #c0bbb4 1px solid; PADDING-LEFT: 5px; FONT-SIZE: 10pt; BACKGROUND: url(bg_input_text.png) white repeat-x 0px -1px; PADDING-BOTTOM: 1px; BORDER-LEFT: #c0bbb4 1px solid; PADDING-TOP: 1px; BORDER-BOTTOM: #c0bbb4 1px solid
}
INPUT.BigInput:hover {
	BORDER-RIGHT: #99cc00 1px solid; BORDER-TOP: #99cc00 1px solid; FONT-SIZE: 10pt; BACKGROUND: url(bg_input_text_hover.png) white repeat-x left top; BORDER-LEFT: #99cc00 1px solid; BORDER-BOTTOM: #99cc00 1px solid
}
TEXTAREA.BigInput:hover {
	BORDER-RIGHT: #99cc00 1px solid; BORDER-TOP: #99cc00 1px solid; FONT-SIZE: 10pt; BACKGROUND: url(bg_input_text_hover.png) white repeat-x left top; BORDER-LEFT: #99cc00 1px solid; BORDER-BOTTOM: #99cc00 1px solid
}
INPUT.SmallInput {
	BORDER-RIGHT: #c0bbb4 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #c0bbb4 1px solid; PADDING-LEFT: 5px; FONT-SIZE: 9pt; BACKGROUND: url(bg_input_text.png) white repeat-x 0px -1px; PADDING-BOTTOM: 1px; BORDER-LEFT: #c0bbb4 1px solid; PADDING-TOP: 1px; BORDER-BOTTOM: #c0bbb4 1px solid
}
TEXTAREA.SmallInput {
	BORDER-RIGHT: #c0bbb4 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #c0bbb4 1px solid; PADDING-LEFT: 5px; FONT-SIZE: 9pt; BACKGROUND: url(bg_input_text.png) white repeat-x 0px -1px; PADDING-BOTTOM: 1px; BORDER-LEFT: #c0bbb4 1px solid; PADDING-TOP: 1px; BORDER-BOTTOM: #c0bbb4 1px solid
}
INPUT.SmallInput:hover {
	BORDER-RIGHT: #99cc00 1px solid; BORDER-TOP: #99cc00 1px solid; FONT-SIZE: 9pt; BACKGROUND: url(bg_input_text_hover.png) white repeat-x left top; BORDER-LEFT: #99cc00 1px solid; BORDER-BOTTOM: #99cc00 1px solid
}
TEXTAREA.SmallInput:hover {
	BORDER-RIGHT: #99cc00 1px solid; BORDER-TOP: #99cc00 1px solid; FONT-SIZE: 9pt; BACKGROUND: url(bg_input_text_hover.png) white repeat-x left top; BORDER-LEFT: #99cc00 1px solid; BORDER-BOTTOM: #99cc00 1px solid
}
INPUT.BigInputMoney {
	BORDER-RIGHT: black 1px solid; BORDER-TOP: black 1px solid; FONT-WEIGHT: normal; FONT-SIZE: 12pt; BACKGROUND: #f8f8f8; BORDER-LEFT: black 1px solid; COLOR: #006; LINE-HEIGHT: normal; BORDER-BOTTOM: black 1px double; FONT-STYLE: normal; HEIGHT: 22px; TEXT-ALIGN: right; FONT-VARIANT: normal
}
INPUT.BigStatic {
	BORDER-RIGHT: #c0bbb4 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #c0bbb4 1px solid; PADDING-LEFT: 5px; FONT-SIZE: 10pt; BACKGROUND: #e0e0e0; PADDING-BOTTOM: 1px; BORDER-LEFT: #c0bbb4 1px solid; PADDING-TOP: 1px; BORDER-BOTTOM: #c0bbb4 1px solid
}
TEXTAREA.BigStatic {
	BORDER-RIGHT: #c0bbb4 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #c0bbb4 1px solid; PADDING-LEFT: 5px; FONT-SIZE: 10pt; BACKGROUND: #e0e0e0; PADDING-BOTTOM: 1px; BORDER-LEFT: #c0bbb4 1px solid; PADDING-TOP: 1px; BORDER-BOTTOM: #c0bbb4 1px solid
}
INPUT.SmallStatic {
	BORDER-RIGHT: #c0bbb4 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #c0bbb4 1px solid; PADDING-LEFT: 5px; FONT-SIZE: 9pt; BACKGROUND: #e0e0e0; PADDING-BOTTOM: 1px; BORDER-LEFT: #c0bbb4 1px solid; PADDING-TOP: 1px; BORDER-BOTTOM: #c0bbb4 1px solid
}
TEXTAREA.SmallStatic {
	BORDER-RIGHT: #c0bbb4 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #c0bbb4 1px solid; PADDING-LEFT: 5px; FONT-SIZE: 9pt; BACKGROUND: #e0e0e0; PADDING-BOTTOM: 1px; BORDER-LEFT: #c0bbb4 1px solid; PADDING-TOP: 1px; BORDER-BOTTOM: #c0bbb4 1px solid
}
SELECT.BigSelect {
	BORDER-RIGHT: #c0bbb4 1px solid; BORDER-TOP: #c0bbb4 1px solid; FONT-WEIGHT: normal; FONT-SIZE: 12pt; BACKGROUND: url(bg_input_text.png) white repeat-x left top; BORDER-LEFT: #c0bbb4 1px solid; COLOR: #000066; LINE-HEIGHT: normal; BORDER-BOTTOM: #c0bbb4 1px double; FONT-STYLE: normal; HEIGHT: 22px; FONT-VARIANT: normal
}
SELECT.BigSelect:hover {
	BORDER-RIGHT: #c0bbb4 1px solid; BORDER-TOP: #c0bbb4 1px solid; FONT-WEIGHT: normal; FONT-SIZE: 12pt; BACKGROUND: url(bg_input_text_hover.png) white repeat-x left top; BORDER-LEFT: #c0bbb4 1px solid; COLOR: #000066; LINE-HEIGHT: normal; BORDER-BOTTOM: #c0bbb4 1px double; FONT-STYLE: normal; HEIGHT: 22px; FONT-VARIANT: normal
}
SELECT.SmallSelect {
	BORDER-RIGHT: #c0bbb4 1px solid; BORDER-TOP: #c0bbb4 1px solid; FONT-WEIGHT: normal; FONT-SIZE: 9pt; BACKGROUND: url(bg_input_text.png) white repeat-x left top; BORDER-LEFT: #c0bbb4 1px solid; COLOR: #000066; LINE-HEIGHT: normal; BORDER-BOTTOM: #c0bbb4 1px double; FONT-STYLE: normal; HEIGHT: 18px; FONT-VARIANT: normal
}
SELECT.SmallSelect:hover {
	BORDER-RIGHT: #c0bbb4 1px solid; BORDER-TOP: #c0bbb4 1px solid; FONT-WEIGHT: normal; FONT-SIZE: 9pt; BACKGROUND: url(bg_input_text_hover.png) white repeat-x left top; BORDER-LEFT: #c0bbb4 1px solid; COLOR: #000066; LINE-HEIGHT: normal; BORDER-BOTTOM: #c0bbb4 1px double; FONT-STYLE: normal; HEIGHT: 18px; FONT-VARIANT: normal
}
SELECT.BigStatic {
	BORDER-RIGHT: black 1px solid; BORDER-TOP: black 1px solid; FONT-WEIGHT: normal; FONT-SIZE: 12pt; BACKGROUND: #e0e0e0; BORDER-LEFT: black 1px solid; COLOR: #000066; LINE-HEIGHT: normal; BORDER-BOTTOM: black 1px double; FONT-STYLE: normal; HEIGHT: 22px; FONT-VARIANT: normal
}
SELECT.SmallStatic {
	BORDER-RIGHT: black 1px solid; BORDER-TOP: black 1px solid; FONT-WEIGHT: normal; FONT-SIZE: 9pt; BACKGROUND: #e0e0e0; BORDER-LEFT: black 1px solid; COLOR: #000066; LINE-HEIGHT: normal; BORDER-BOTTOM: black 1px solid; FONT-STYLE: normal; HEIGHT: 18px; FONT-VARIANT: normal
}
.TableControl {
	BACKGROUND: url(table_footer_bg.png)
}
.TableHeader {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; BACKGROUND: url(list_hd_bg.png); LINE-HEIGHT: 21px
}
.TableHeader1 {
	BACKGROUND-IMAGE: url(button_back.gif); CURSOR: pointer; COLOR: #000066
}
.TableHeader2 {
	FONT-WEIGHT: bold; BACKGROUND-IMAGE: url(menubg.gif); CURSOR: pointer; COLOR: #000066
}
.TableContent {
	BACKGROUND: url(table_content_bg.png)
}
.TableData {
	BACKGROUND: #ffffff; COLOR: #000000
}
.TableLine1 {
	BACKGROUND: #f8f8f8
}
.TableLine2 {
	BACKGROUND: #ffffff
}
.TableRed {
	BACKGROUND: #ffebeb
}
.TextColor1 {
	COLOR: #ff6600
}
.TextColor2 {
	COLOR: #ff0000
}
.TextColor3 {
	COLOR: #808080
}
.top {
	FONT-WEIGHT: bold; COLOR: #ff0000
}
.percent {
	BORDER-RIGHT: #666666 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #666666 1px solid; MARGIN-TOP: 3px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; BORDER-LEFT: #666666 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #666666 1px solid; HEIGHT: 12px
}
.percent DIV {
	FONT-SIZE: 0px; MARGIN: 1px; HEIGHT: 8px
}
.percenttxt {
	MARGIN-TOP: 1px; FONT-SIZE: 9pt; FLOAT: left
}
.s_on {
	FONT-SIZE: 9pt; BACKGROUND: url(/images/topmenubg2.gif)
}
.s_of {
	FONT-SIZE: 9pt; BACKGROUND: url(/images/topmenubg1.gif)
}
.m_on {
	FONT-SIZE: 9pt; BACKGROUND: url(/images/topmenubg2.gif)
}
.border14-1 {
	BORDER-RIGHT: #2e2e5a 1px solid; BORDER-TOP: #2e2e5a 1px solid; FONT-SIZE: 14px; BORDER-LEFT: #2e2e5a 1px solid; BORDER-BOTTOM: #2e2e5a 1px solid
}
.border14-2 {
	BORDER-RIGHT: #2e2e5a 1px solid; FONT-SIZE: 14px; BORDER-BOTTOM: #2e2e5a 1px solid
}
.border14-3 {
	FONT-SIZE: 14px; BORDER-TOP-STYLE: none; BORDER-BOTTOM: #98bbd6 1px solid; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none
}
.border14-4 {
	BORDER-RIGHT: #98bbd6 1px solid; FONT-SIZE: 14px
}
.title_text {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #0a5fa2
}
.table_border {
	BORDER-RIGHT: #98bbd6 1px solid; BORDER-TOP: #98bbd6 1px solid; BORDER-LEFT: #98bbd6 1px solid; BORDER-BOTTOM: black 0px solid
}
.table_bg {
	BORDER-RIGHT: black 1px solid; BACKGROUND-POSITION: left 50%; BORDER-TOP: #2e2e5a 1px solid; BACKGROUND-ATTACHMENT: fixed; BACKGROUND-IMAGE: url(bg_header.png); BORDER-LEFT: black 1px solid; BORDER-BOTTOM: #2e2e5a 0px solid; BACKGROUND-REPEAT: repeat
}
.table_left {
	BACKGROUND-POSITION: left 50%; BACKGROUND-ATTACHMENT: fixed; BACKGROUND-IMAGE: url(table_left.gif); BACKGROUND-REPEAT: no-repeat
}
.attach_name:link {
	COLOR: #0d3a73
}
.attach_name:hover {
	COLOR: #0d3a73
}
.attach_name:active {
	COLOR: #0d3a73
}
.attach_name:visited {
	COLOR: #0d3a73
}
.attach_div {
	BORDER-RIGHT: #83accf 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #83accf 1px solid; DISPLAY: none; PADDING-LEFT: 0px; Z-INDEX: 10001; BACKGROUND: #ffffff; PADDING-BOTTOM: 0px; BORDER-LEFT: #83accf 1px solid; WIDTH: 100px; PADDING-TOP: 0px; BORDER-BOTTOM: #83accf 1px solid; POSITION: absolute
}
.attach_div A {
	PADDING-RIGHT: 0px; DISPLAY: block! important; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; LINE-HEIGHT: 20px; PADDING-TOP: 3px
}
.attach_div A:hover {
	BACKGROUND: #d6e4ef
}
.TableList {
	BORDER-RIGHT: #3063a8 1px solid; BORDER-TOP: #3063a8 1px solid; FONT-SIZE: 9pt; BORDER-LEFT: #3063a8 1px solid; LINE-HEIGHT: 25px; BORDER-BOTTOM: #3063a8 1px solid; BORDER-COLLAPSE: collapse
}
.TableList TD {
	
}
.TableList .TableHeader TD {
	BORDER-RIGHT: #cddcec 1px solid; FONT-WEIGHT: bold; BACKGROUND: url(list_hd_bg.png); COLOR: #ffffff; BORDER-BOTTOM: #4487d2 1px solid; TEXT-ALIGN: center
}
.TableList TD.TableHeader {
	BORDER-RIGHT: #cddcec 1px solid; FONT-WEIGHT: bold; BACKGROUND: url(list_hd_bg.png); COLOR: #ffffff; BORDER-BOTTOM: #4487d2 1px solid; TEXT-ALIGN: center
}
.TableList .TableLine1 TD {
	BACKGROUND: #f8f8f8; BORDER-BOTTOM: #dcdcdc 1px solid
}
.TableList TD.TableLine1 {
	BACKGROUND: #f8f8f8; BORDER-BOTTOM: #dcdcdc 1px solid
}
.TableList .TableLine2 TD {
	BACKGROUND: #ffffff; BORDER-BOTTOM: #dcdcdc 1px solid
}
.TableList TD.TableLine2 {
	BACKGROUND: #ffffff; BORDER-BOTTOM: #dcdcdc 1px solid
}
.TableList .TableData TD {
	BACKGROUND: #ffffff; BORDER-BOTTOM: #dcdcdc 1px solid
}
.TableList TD.TableData {
	BACKGROUND: #ffffff; BORDER-BOTTOM: #dcdcdc 1px solid
}
.TableList .TableContent TD {
	BACKGROUND: #cbe1f5; BORDER-BOTTOM: #dcdcdc 1px solid
}
.TableList TD.TableContent {
	BACKGROUND: #cbe1f5; BORDER-BOTTOM: #dcdcdc 1px solid
}
.TableList .TableFooter TD {
	BORDER-TOP: #dcdcdc 1px solid; BACKGROUND: url(table_footer_bg.png)
}
.TableList .TableControl TD {
	BORDER-TOP: #dcdcdc 1px solid; BACKGROUND: url(table_footer_bg.png)
}
.TableList TD.TableFooter {
	BORDER-TOP: #dcdcdc 1px solid; BACKGROUND: url(table_footer_bg.png)
}
.TableList TD.TableControl {
	BORDER-TOP: #dcdcdc 1px solid; BACKGROUND: url(table_footer_bg.png)
}
.TableList .TableRed TD {
	BACKGROUND: #ffebeb
}
.TableList TD.TableRed {
	BACKGROUND: #ffebeb
}
.TableList .TextColor1 TD {
	COLOR: #ff6600
}
.TableList TD.TextColor1 {
	COLOR: #ff6600
}
.TableList .TextColor2 TD {
	COLOR: #ff0000
}
.TableList TD.TextColor2 {
	COLOR: #ff0000
}
.TableBlock {
	BORDER-RIGHT: #124164 1px solid; BORDER-TOP: #124164 1px solid; FONT-SIZE: 9pt; BORDER-LEFT: #124164 1px solid; LINE-HEIGHT: 25px; BORDER-BOTTOM: #124164 1px solid; BORDER-COLLAPSE: collapse
}
.TableBlock TD {
	COLOR: #000000
}
.TableBlock .TableHeader TD {
	BORDER-RIGHT: #124164 1px solid; BORDER-TOP: #124164 1px solid; PADDING-LEFT: 5px; FONT-WEIGHT: bold; BACKGROUND: url(block_hd_bg.png); BORDER-LEFT: #124164 1px solid; COLOR: #ffffff; BORDER-BOTTOM: #124164 1px solid
}
.TableBlock TD.TableHeader {
	BORDER-RIGHT: #124164 1px solid; BORDER-TOP: #124164 1px solid; PADDING-LEFT: 5px; FONT-WEIGHT: bold; BACKGROUND: url(block_hd_bg.png); BORDER-LEFT: #124164 1px solid; COLOR: #ffffff; BORDER-BOTTOM: #124164 1px solid
}
.TableBlock .TableLine1 TD {
	BORDER-RIGHT: #606275 1px solid; BORDER-TOP: #606275 1px solid; BACKGROUND: #f8f8f8
}
.TableBlock TD.TableLine1 {
	BORDER-RIGHT: #606275 1px solid; BORDER-TOP: #606275 1px solid; BACKGROUND: #f8f8f8
}
.TableBlock .TableLine2 TD {
	BORDER-RIGHT: #606275 1px solid; BORDER-TOP: #606275 1px solid; BACKGROUND: #ffffff
}
.TableBlock TD.TableLine2 {
	BORDER-RIGHT: #606275 1px solid; BORDER-TOP: #606275 1px solid; BACKGROUND: #ffffff
}
.TableBlock .TableData TD {
	BORDER-RIGHT: #606275 1px solid; BORDER-TOP: #606275 1px solid; BACKGROUND: #ffffff
}
.TableBlock TD.TableData {
	BORDER-RIGHT: #606275 1px solid; BORDER-TOP: #606275 1px solid; BACKGROUND: #ffffff
}
.TableBlock .TableContent TD {
	BORDER-RIGHT: #606275 1px solid; BORDER-TOP: #606275 1px solid; BACKGROUND: #cbe1f5
}
.TableBlock TD.TableContent {
	BORDER-RIGHT: #606275 1px solid; BORDER-TOP: #606275 1px solid; BACKGROUND: #cbe1f5
}
.TableBlock .TableFooter TD {
	BORDER-RIGHT: #606275 1px solid; BORDER-TOP: #606275 1px solid; BACKGROUND: url(table_footer_bg.png); BORDER-LEFT: #606275 1px solid; BORDER-BOTTOM: #606275 1px solid
}
.TableBlock .TableControl TD {
	BORDER-RIGHT: #606275 1px solid; BORDER-TOP: #606275 1px solid; BACKGROUND: url(table_footer_bg.png); BORDER-LEFT: #606275 1px solid; BORDER-BOTTOM: #606275 1px solid
}
.TableBlock TD.TableFooter {
	BORDER-RIGHT: #606275 1px solid; BORDER-TOP: #606275 1px solid; BACKGROUND: url(table_footer_bg.png); BORDER-LEFT: #606275 1px solid; BORDER-BOTTOM: #606275 1px solid
}
.TableBlock TD.TableControl {
	BORDER-RIGHT: #606275 1px solid; BORDER-TOP: #606275 1px solid; BACKGROUND: url(table_footer_bg.png); BORDER-LEFT: #606275 1px solid; BORDER-BOTTOM: #606275 1px solid
}
.TableBlock .TableRed TD {
	BACKGROUND: #ffebeb
}
.TableBlock TD.TableRed {
	BACKGROUND: #ffebeb
}
.Content {
	LINE-HEIGHT: normal
}
.TableControl A {
	COLOR: #0066cc; TEXT-DECORATION: none
}
.TableBlock .TableRowHover TD {
	BACKGROUND: #ebf2f9
}
.TableBlock TD.TableRowHover {
	BACKGROUND: #ebf2f9
}
.TableBlock .TableRowActive TD {
	BACKGROUND: #d8e5f1
}
.TableBlock TD.TableRowActive {
	BACKGROUND: #d8e5f1
}
.MessageBox {
	BORDER-RIGHT: #83accf 1px dotted; BORDER-TOP: #83accf 1px dotted; MARGIN-TOP: 15px; BACKGROUND: url(white_bg.png); MARGIN-BOTTOM: 15px; BORDER-LEFT: #83accf 1px dotted; BORDER-BOTTOM: #83accf 1px dotted; HEIGHT: 90px
}
.MessageBox TD.msg {
	PADDING-RIGHT: 20px; PADDING-LEFT: 90px; FONT-WEIGHT: bold; PADDING-BOTTOM: 10px; PADDING-TOP: 5px
}
.MessageBox TD.msg H4.title {
	FONT-SIZE: 18pt; MARGIN-BOTTOM: 10px; COLOR: #36434e; BORDER-BOTTOM: #83accf 1px dotted
}
.MessageBox TD.msg DIV.content {
	COLOR: #ebbf47; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
.MessageBox TD.error {
	BACKGROUND: url(/images/icon64_error.png) no-repeat 10px 10px
}
.MessageBox TD.info {
	BACKGROUND: url(/images/icon64_info.png) no-repeat 10px 10px
}
.MessageBox TD.warning {
	BACKGROUND: url(/images/icon64_warning.png) no-repeat 10px 10px
}
.MessageBox TD.forbidden {
	BACKGROUND: url(/images/icon64_forbidden.png) no-repeat 10px 10px
}
.MessageBox TD.stop {
	BACKGROUND: url(/images/icon64_stop.png) no-repeat 10px 10px
}
.MessageBox TD.blank {
	PADDING-RIGHT: 20px; PADDING-LEFT: 20px; PADDING-BOTTOM: 10px; PADDING-TOP: 10px; HEIGHT: 40px; TEXT-ALIGN: center
}
.hightlight {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; BACKGROUND: #ffff00; TEXT-DECORATION: underline
}
.banned {
	COLOR: #ff0000
}
.mod {
	COLOR: #000000
}
.filter {
	COLOR: #0000ff
}
.pageArea {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; WIDTH: 320px; COLOR: #006efe; PADDING-TOP: 5px
}
.pageArea IMG {
	CURSOR: pointer
}
.pageArea A {
	DISPLAY: inline-block; WIDTH: 30px; HEIGHT: 16px
}
.pageArea .pageFirst {
	BACKGROUND: url(/images/firstpage.gif) no-repeat center center
}
.pageArea .pagePrevious {
	BACKGROUND: url(/images/previouspage.gif) no-repeat center center
}
.pageArea .pageNext {
	BACKGROUND: url(/images/nextpage.gif) no-repeat center center
}
.pageArea .pageLast {
	BACKGROUND: url(/images/lastpage.gif) no-repeat center center
}
.pageArea .pageFirstDisable {
	BACKGROUND: url(/images/firstpage_disable.gif) no-repeat center center
}
.pageArea .pagePreviousDisable {
	BACKGROUND: url(/images/previouspage_disable.gif) no-repeat center center
}
.pageArea .pageNextDisable {
	BACKGROUND: url(/images/nextpage_disable.gif) no-repeat center center
}
.pageArea .pageLastDisable {
	BACKGROUND: url(/images/lastpage_disable.gif) no-repeat center center
}
.pageArea .pageGoto {
	BACKGROUND: url(/images/green_arrow.gif) no-repeat center center; WIDTH: 17px
}
.TableHeader A:link {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.TableHeader A:visited {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.TableHeader A:hover {
	COLOR: #ffffff; TEXT-DECORATION: underline
}
.TableHeader A:active {
	COLOR: #ffffff; TEXT-DECORATION: underline
}
.ColorTable {
	BORDER-RIGHT: #bbbbbb 1px solid; BORDER-TOP: #bbbbbb 1px solid; BACKGROUND: #f5fbff; MARGIN: 0px; BORDER-LEFT: #bbbbbb 1px solid; BORDER-BOTTOM: #bbbbbb 1px solid
}
.ColorTable TD {
	BORDER-RIGHT: #f5fbff 1px solid; PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-WEIGHT: bold; FONT-SIZE: 12px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; BORDER-BOTTOM: #f5fbff 1px solid
}
.ColorTable TD.Selected {
	BORDER-RIGHT: #316ac5 1px solid; BORDER-TOP: #316ac5 1px solid; BACKGROUND: #dff1ff; BORDER-LEFT: #316ac5 1px solid; CURSOR: pointer; BORDER-BOTTOM: #316ac5 1px solid
}
.ColorTable TD DIV {
	BORDER-RIGHT: #bbbbbb 1px solid; BORDER-TOP: #bbbbbb 1px solid; BORDER-LEFT: #bbbbbb 1px solid; CURSOR: pointer; BORDER-BOTTOM: #bbbbbb 1px solid
}
