img {border: none; vertical-align: middle;}

a:link{color: #0066cc; text-decoration: none;}
a:visited{color: #0066cc; text-decoration: none;}
a:hover {color: #333333; text-decoration: underline;}
a:active{color: #0066cc; text-decoration: underline;}

ul {
   list-style: none;
   margin: 0px;
   padding: 0px;
   line-height:20px;
}

li a:link span, li a:visited span {
  text-align: left;
  padding:2px 30px;
  background: url("../../img/subpages/ar.png") no-repeat 8px center;
  display:block;
  cursor:pointer;
}

li a:hover{
   color: #000000;
   font-weight:bold;
   background-position: 0 -24px;
}
li a.active, li a:hover.active, li a:active.active, li a:visited.active{
   background-position: 0 -24px;
}
li a:link.active span, li a:hover.active span, li a:active.active span, li a:visited.active span{
   font-weight:bold;
   background: url("../../img/subpages/arrow_d.png") no-repeat 8px center;
}

li .center a:link span, li .center a:visited span, li .center a:link.active span, li .center a:hover.active span, li a:active.active span, li .center a:visited.active span {
  background-position: 4px center;
  padding-left: 26px;
}

.moduleContainer{background:#FFFFFF;}
.moduleContainer ul li div{border-bottom:1px #83ACCF solid;cursor:pointer;}
.moduleContainer ul{border:none;}
.moduleContainer .blank{line-height:30px;padding-left: 5px;}

.moduleContainer a:link,
.moduleContainer a:hover,
.moduleContainer a:active,
.moduleContainer a:visited{
   color: #0066cc;
   text-decoration: none;
   background:none;
   display: inline;
   font-weight:normal;
}

.moduleContainer a:hover,
.moduleContainer a:active{
   color: #333333;
   text-decoration: underline;
}
 
.TableBlock.LeftMenu .TableData td, .TableBlock.LeftMenu td.TableData {
  background: url("../../img/subpages/dot.png") no-repeat 12px center;
  padding-left: 25px;
  text-align: left;
}

.head {
  border: 1px solid #85b6df;
  border-top: none;
}

.L1 a {
  text-decoration: none;
  font-weight: bold;
  color: #275175;
}

.head a {
  background: none repeat scroll 0 0 #C0EFFF;
  height: 32px;
  line-height: 32px;
  display: block;
}

.L1 ul {
  border-left: 1px solid #85b6df;
  border-right: 1px solid #85b6df;
}

.L1.head ul {
	border: none;
}

.L22 div {
	background: url("../../img/subpages/dot.png") no-repeat scroll 12px center transparent;
  cursor: pointer;
  border-bottom: 1px solid #CCCCCC;
  height: 25px;
  padding-left: 25px;
  line-height: 25px;
}

.L22 div:hover {
	background-color: #e0e0e0;
}