.tabContent {
	width: 100%;
}

.navPanel {
	position: absolute;
	left: 0px;
	top: 0px;
	display: block;
	font-size: 13px;
	background-color: #f4f4f4;
	width: 100%;
	height: 31px;
	padding-top: 4px;
	padding-left: 10px;
	border-bottom: 1px solid #c0c0c0;
}

#title a {
	background: url(../../img/cmp/tab/tab1.png) repeat-x;
	display: block;
    border-left: 1px solid #d7d7d7;
    border-right: 1px solid #d7d7d7;
    border-radius: 3px 3px 0 0;
    float: left;
    margin-right: 5px;
}

#title a span {
    height: 32px;
    line-height: 32px;
    /* width: 73px; */
    text-align: center;
    color: #000;
    padding: 0 20px;
}

#title a:hover span {
	color: #37a8dd;
}

#title a.active {
    background: url(../../img/cmp/tab/tab2.png) repeat-x;
}

#title a.active span {
	color: #37a8dd;
    font-weight: bold;
}